VerseSketch.Backend/VerseSketch.Backend/bin/
VerseSketch.Backend/VerseSketch.Backend/obj/
VerseSketch.Backend/VerseSketch.Backend/wwwroot/
verseSketch-frontend/dist/
verseSketch-frontend/node_modules/