.button-text{
    color:white;
    font-size: 24px;
    text-align: center;
    text-wrap-mode: wrap;
    line-height: 24px;
    width: 135px;
    margin-right: 10px;
    margin-left: 10px;;
}
.ant-btn-primary{
    width:195px;
    height:63px;
    padding: 10px;
}
.primary-button{
    background-color: #9000FF;
}
.primary-button:hover{
    background-color: #ac40ff !important;
}
.primary-button:disabled{
    background-color: #F8DCFF !important;
    cursor: not-allowed;
    border: 2px solid #7C009B !important;
    color: #7C009B !important;
}
.primary-button:active{
    background-color: #F8DCFF !important;
    border: 2px solid #7C009B !important;
    color: #7C009B !important;
}
.primary-button:active .button-text,
.primary-button:disabled .button-text{
    color: #7C009B !important;
}


.secondary-button{
    background-color: #7C009B;
}
.secondary-button:hover{
    background-color: #7b2a8f !important;
}
.secondary-button:disabled{
    background-color: #F8DCFF !important;
    cursor: not-allowed;
    border: 2px solid #7C009B !important;
    color: #7C009B !important;
}
.secondary-button:active{
    background-color: #F8DCFF !important;
    border: 2px solid #7C009B !important;
    color: #7C009B !important;
}
.secondary-button:active .button-text,
.secondary-button:disabled .button-text{
    color: #7C009B !important;
}
