
.scrollable-list{
    display: flex !important;
    flex-direction: column !important;
    height: 600px !important;
    width: 100% !important;
    overflow-y: auto !important;
    border: 2px solid #7C009B !important;
    color:#7C009B !important;
    padding: 0 15px;
    border-radius: 4px;
    background-color: #F8DCFF;
}

