:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #C886D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #9000FF;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  height: 64px;
}
.input-field{
  height: 60px;
  border-radius: 4px;
  border: 2px solid #7C009B !important;
  background-color: #F8DCFF !important;
  color:#7C009B !important;
}
.input-field:focus{
  outline: none !important;
  border-color: #7C009B !important;
  background-color: #F8DCFF !important;
  color:#7C009B !important;
}
.input-field:hover{
  border-color: #7C009B !important;
  background-color: #edacfd !important;
  color:#7C009B !important;
}
.input-field::placeholder{
  color: #7C009B !important;
  font-size: 16px;
  opacity: 0.5;
}
.container-mid{
  /* justifyContent:"center", */
  align-items:center;
  display:flex;
  padding:0 32px;
  flex-direction:column;
  /* // alignContent:"center" */
}
.container-small{
  /* justifyContent:"center", */
  align-items:center;
  display:flex;
  padding:0 35%;
  flex-direction:column;
  /* // alignContent:"center" */
}

.input-field .ant-select-selector {
  border: none !important;
  background: none !important;
  color: inherit !important;
}

.input-field .ant-select-item {
  background: none !important;
  color: inherit !important;
}
.ant-switch {
  background-color: #F8DCFF !important;
}

.ant-switch-checked {
  background-color: #9000FF !important;
}

.ant-switch:hover {
  border-color: #ebbaf7 !important;
}

.ant-switch-checked:hover {
  border-color: #7C009B !important;
}

.ant-form-item-explain-error{
  color: #db0000 !important;
}


.ant-form-item-has-error{
  border-color: #db0000 !important;
  color:#7C009B !important;
}

.scrollable-list{
  display: flex !important;
  flex-direction: column !important;
  height: 600px !important;
  width: 100% !important;
  overflow-y: auto !important;
  border: 2px solid #7C009B !important;
  color:#7C009B !important;
  padding: 0 15px;
  border-radius: 4px;
  background-color: #F8DCFF;
}

.player-list{
  background-color: #F8DCFF;
  padding: 2px 8px;
  border: 2px solid #7C009B !important;
  color: #7C009B;
  border-radius: 6px;
  width: 100%;
  height: auto;
}
.player-list .ant-list-item{
  height: 70px;
  color: #7C009B;
}

.placeholder-text{
  color: #7C009B;
  opacity: 0.5;
}

.container-layout{
  background-color: #C886D9;
  height: calc(100vh - 64px);
}

.room-card{
  background-color: #F8DCFF;
  padding: 2px 8px;
  border: 2px solid #7C009B !important;
  color: #7C009B;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.room-card .ant-card-body
{
  height:90% !important;
}
.room-card .ant-card-head
{
  min-height:10% !important;
}
.room-card .card-text{
  color: #7C009B;
  font-size: 30px;
  font-weight: 400;
}

.room-card .card-content{
  height:80%;
  width: 100%;
}
.room-card .card-footer{
  height:20%;
  width: 100%;
}
