:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #C886D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button-text{
  color:white;
  font-size: 24px;
  text-align: center;
  text-wrap-mode: wrap;
  line-height: 24px;
  width: 115px;
  /* margin-right: 10px;
  margin-left: 10px;; */
}
/* .ant-btn-primary{
  width:195px;
  height:63px;
  padding: 10px;
} */
.primary-button{
  background-color: #9000FF;
  width:195px;
  height:63px;
  padding: 10px;
}
.primary-button:hover,
.error-modal-button:hover,
.refresh-button:hover{
  background-color: #ac40ff !important;
}
.primary-button:disabled,
.secondary-button:disabled,
.error-modal-button:disabled,
.refresh-button:disabled,
.join-room-button:disabled,
.leave-button:disabled,
.back-button:disabled{
  background-color: #F8DCFF !important;
  cursor: not-allowed;
  border: 2px solid #7C009B !important;
  color: #7C009B !important;
  pointer-events: none;
}
.primary-button:active,
.secondary-button:active,
.error-modal-button:active,
.refresh-button:active,
.join-room-button:active,
.leave-button:active,
.back-button:active{
  background-color: #F8DCFF !important;
  border: 2px solid #7C009B !important;
  color: #7C009B !important;
}
.primary-button:active .button-text,
.primary-button:disabled .button-text,
.secondary-button:active .button-text,
.secondary-button:disabled .button-text,
.error-modal-button:active  .button-text,
.error-modal-button:disabled  .button-text,
.leave-button:active  .button-text,
.leave-button:disabled  .button-text,
.back-button:active  .button-text,
.back-button:disabled  .button-text{
  color: #7C009B !important;
}

.secondary-button:hover,
.leave-button:hover,
.back-button:hover,
.join-room-button:hover{
  background-color: #aa2dc9 !important;
}

.page-title{
  color:#7C009B !important;
  text-align:center !important;
  width:100%;
  font-size:60px !important;
}

.join-room-button{
  background-color: #7C009B;
  width: 50px !important;
  height: 50px;
}

.kick-button{
  color: #7C009B;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}

.secondary-button{
  background-color: #7C009B;
  width:195px;
  height:63px;
  padding: 10px;
}

.navbar{
  background-color: #9000FF;
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  height: 64px;
}
.input-field{
  height: 60px;
  border-radius: 4px;
  border: 2px solid #7C009B !important;
  background-color: #F8DCFF !important;
  color:#7C009B !important;
}
.input-field:focus{
  outline: none !important;
  border-color: #7C009B !important;
  background-color: #F8DCFF !important;
  color:#7C009B !important;
}
.input-field:hover{
  border-color: #7C009B !important;
  background-color: #edacfd !important;
  color:#7C009B !important;
}
.input-field::placeholder{
  color: #7C009B !important;
  font-size: 16px;
  opacity: 0.5;
}
.container-mid{
  /* justify-content:"center"; */
  align-items:center;
  display:flex;
  padding:0 32px;
  flex-direction:column;
  /* // alignContent:"center" */
}
.container-large{
  /* justify-content:"center"; */
  align-items:center;
  display:flex;
  /* padding:0 32px; */
  flex-direction:column;
  /* // alignContent:"center" */
}
.container-small{
  /* justifyContent:"center", */
  align-items:center;
  display:flex;
  padding:0 32%;
  flex-direction:column;
  /* // alignContent:"center" */
}

.input-field .ant-select-selector {
  border: none !important;
  background: none !important;
  color: inherit !important;
}

.input-field .ant-select-item {
  background: none !important;
  color: inherit !important;
}
.ant-switch {
  background-color: #C886D9 !important;
}

.ant-switch-checked {
  background-color: #9000FF !important;
}

.ant-switch:hover {
  border-color: #ebbaf7 !important;
}

.ant-switch-checked:hover {
  border-color: #7C009B !important;
}

.ant-form-item-explain-error{
  color: #db0000 !important;
}


.ant-form-item-has-error{
  border-color: #db0000 !important;
  color:#7C009B !important;
}

.scrollable-list{
  display: flex !important;
  flex-direction: column !important;
  height: 600px !important;
  width: 100% !important;
  overflow-y: auto !important;
  border: 2px solid #7C009B !important;
  color:#7C009B !important;
  /* padding: 0 15px; */
  border-radius: 4px;
  background-color: #F8DCFF;
}

.player-list{
  background-color: #F8DCFF;
  padding: 2px 8px;
  border: 2px solid #7C009B !important;
  color: #7C009B;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.player-list .ant-list-item{
  height: 70px;
  color: #7C009B;
  padding: 12px 5px !important;
  border-radius: 6px;
  margin-bottom: 5px;
  border: 2px solid #7C009B !important;
}

.placeholder-text{
  color: #7C009B;
  opacity: 0.5;
}

.container-layout{
  background-color: #C886D9;
  height: calc(100vh - 64px);
}

.room-card{
  background-color: #F8DCFF;
  padding: 2px 8px;
  border: 2px solid #7C009B !important;
  color: #7C009B;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.room-card .ant-card-body
{
  height:90% !important;
}
.room-card .ant-card-head
{
  min-height:10% !important;
}
.room-card .card-text{
  color: #7C009B;
  font-size: 30px;
  font-weight: 400;
}

.room-card .card-content{
  height:80%;
  width: 100%;
}
.room-card .card-footer{
  height:20%;
  width: 100%;
}

.scrollable-list-item{
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
  align-items: center !important;
  padding: 0px 8px !important;
  height: 70px !important;
  width: 100% !important;
  border-bottom: 0.5px solid #7C009B !important;
  color: #7C009B !important;
  background-color: #F8DCFF;
}

.scrollable-list-item:hover{
  background-color: #f2c0ff !important;
}
.scrollable-list-item .sub-item{
  display:flex;
  justify-content:right;
  flex-direction:row;
  align-items:center;
  width:100%
}

.refresh-button{
  background-color: #9000FF !important;
  color: white !important;
  width: 60px !important;
  height:60px !important;
}

.error-modal .ant-modal-content{
  width:500px !important;
  /* height:300px !important; */
}

.error-modal .ant-modal-body{
  height: 70px;
}

.error-modal .ant-modal-content,
.error-modal .ant-modal-header{
  background-color: #F8DCFF !important;
}

.error-modal-title{
  color: #7C009B;
  font-size: 30px
}

.error-modal-text{
  color: #7C009B;
  font-size: 16px
}

.error-modal-button{
  background-color: #9000FF;
  /* padding: 20px !important; */
  width:140px;
  height:40px;
}

.error-modal-button .button-text{
  font-size: 17px;
  width: auto;
}

.room-title{
  word-break: break-word;
  white-space: normal;
  font-size:24px;
  font-weight: bold;
}

.leave-button{
  background-color: #7C009B;
  /* padding: 20px; */
  border-radius: 5px;
  width:150px;
  height:50px;
}

.leave-button .button-text{
  font-size: 20px;
  width: auto;
}

.player-field{
  background-color: #f2c0ff;
}

.player-selected-field{
  background-color: #ea97ff;
}

.player-placeholder-text{
  opacity: 0.3;
  color: #7C009B;
  font-size: 18px;
  font-weight: 600;
}

.player-nickname-text{
  color: #7C009B;
  font-size: 18px;
  font-weight: 600;
}

.back-button{
  background-color: #7C009B;
  border-radius: 5px;
  width:110px;
  height:45px;
}

.back-button .button-text{
  font-size: 20px;
  width: auto;
}